@import "./viewport.css";

:root {
  /* Dynamic sizes */
  /* min(max(calc( ((A + B) / (375 + 1280) * 100) * var(--size-unit)), Apx), Bpx); */
  --size-unit: var(--vw, 1%);
  --size-128-256: min(max(calc(23.2024 * var(--size-unit)), 128px), 256px);
  --size-128-192: min(max(calc(19.3353 * var(--size-unit)), 128px), 192px);
  --size-96-128: min(max(calc(13.5347 * var(--size-unit)), 98px), 128px);
  --size-64-128: min(max(calc(11.6012 * var(--size-unit)), 64px), 128px);
  --size-80-96: min(max(calc(10.634 * var(--size-unit)), 80px), 96px);
  --size-72-96: min(max(calc(10.151 * var(--size-unit)), 72px), 96px);
  --size-64-96: min(max(calc(9.6677 * var(--size-unit)), 64px), 96px);
  --size-64-80: min(max(calc(8.7009 * var(--size-unit)), 64px), 80px);
  --size-64-72: min(max(calc(8.2175 * var(--size-unit)), 64px), 72px);
  --size-48-96: min(max(calc(8.7009 * var(--size-unit)), 48px), 96px);
  --size-56-84: min(max(calc(8.4592 * var(--size-unit)), 56px), 84px);
  --size-56-80: min(max(calc(8.2175 * var(--size-unit)), 56px), 80px);
  --size-36-96: min(max(calc(7.9758 * var(--size-unit)), 36px), 96px);
  --size-56-72: min(max(calc(7.7341 * var(--size-unit)), 56px), 72px);
  --size-56-64: min(max(calc(7.2507 * var(--size-unit)), 56px), 64px);
  --size-48-64: min(max(calc(6.7673 * var(--size-unit)), 48px), 64px);
  --size-48-56: min(max(calc(6.2840 * var(--size-unit)), 48px), 56px);
  --size-40-64: min(max(calc(6.2840 * var(--size-unit)), 40px), 64px);
  --size-36-64: min(max(calc(6.0423 * var(--size-unit)), 36px), 64px);
  --size-32-64: min(max(calc(5.8006 * var(--size-unit)), 32px), 64px);
  --size-40-56: min(max(calc(5.8006 * var(--size-unit)), 40px), 56px);
  --size-36-56: min(max(calc(5.5589 * var(--size-unit)), 36px), 56px);
  --size-40-48: min(max(calc(5.4381 * var(--size-unit)), 40px), 48px);
  --size-24-64: min(max(calc(5.3172 * var(--size-unit)), 24px), 64px);
  --size-20-64: min(max(calc(5.0755 * var(--size-unit)), 20px), 64px);
  --size-36-44: min(max(calc(4.8338 * var(--size-unit)), 36px), 44px);
  --size-32-48: min(max(calc(4.8338 * var(--size-unit)), 32px), 48px);
  --size-32-40: min(max(calc(4.3504 * var(--size-unit)), 32px), 40px);
  --size-28-44: min(max(calc(4.3504 * var(--size-unit)), 28px), 44px);
  --size-27-42: min(max(calc(4.1692 * var(--size-unit)), 27px), 42px);
  --size-28-36: min(max(calc(3.8671 * var(--size-unit)), 28px), 36px);
  --size-24-98: min(max(calc(7.2508 * var(--size-unit)), 24px), 96px);
  --size-24-48: min(max(calc(4.3504 * var(--size-unit)), 24px), 48px);
  --size-28-32: min(max(calc(3.6254 * var(--size-unit)), 28px), 32px);
  --size-24-36: min(max(calc(3.6254 * var(--size-unit)), 24px), 36px);
  --size-20-40: min(max(calc(3.6254 * var(--size-unit)), 20px), 40px);
  --size-24-32: min(max(calc(3.3837 * var(--size-unit)), 24px), 32px);
  --size-24-28: min(max(calc(3.1420 * var(--size-unit)), 24px), 28px);
  --size-20-32: min(max(calc(3.1420 * var(--size-unit)), 20px), 32px);
  --size-22-28: min(max(calc(3.0211 * var(--size-unit)), 22px), 28px);
  --size-20-28: min(max(calc(2.9003 * var(--size-unit)), 20px), 28px);
  --size-20-24: min(max(calc(2.6586 * var(--size-unit)), 20px), 24px);
  --size-18-26: min(max(calc(2.6586 * var(--size-unit)), 18px), 26px);
  --size-18-24: min(max(calc(2.5378 * var(--size-unit)), 18px), 24px);
  --size-18-20: min(max(calc(2.2961 * var(--size-unit)), 18px), 20px);
  --size-16-32: min(max(calc(2.9003 * var(--size-unit)), 16px), 32px);
  --size-16-24: min(max(calc(2.4169 * var(--size-unit)), 16px), 24px);
  --size-16-22: min(max(calc(2.2961 * var(--size-unit)), 16px), 22px);
  --size-16-20: min(max(calc(2.1752 * var(--size-unit)), 16px), 20px);
  --size-16-18: min(max(calc(2.0544 * var(--size-unit)), 16px), 18px);
  --size-14-16: min(max(calc(1.8127 * var(--size-unit)), 14px), 16px);
  --size-13-16: min(max(calc(1.7723 * var(--size-unit)), 13px), 16px);
  --size-12-24: min(max(calc(2.1752 * var(--size-unit)), 12px), 24px);
  --size-12-18: min(max(calc(1.8127 * var(--size-unit)), 12px), 18px);
  --size-6-24: min(max(calc(1.8127 * var(--size-unit)), 6px), 24px);
  --size-12-16: min(max(calc(1.6918 * var(--size-unit)), 12px), 16px);
  --size-12-14: min(max(calc(1.571 * var(--size-unit)), 12px), 14px);
  --size-11-15: min(max(calc(1.571 * var(--size-unit)), 11px), 15px);
  --size-0-24: min(max(calc(1.4501 * var(--size-unit)), 0px), 24px);
  --size-4-20: min(max(calc(1.4501 * var(--size-unit)), 4px), 20px);
  --size-10-12: min(max(calc(1.3293 * var(--size-unit)), 10px), 12px);
  --size-8-12: min(max(calc(1.2085 * var(--size-unit)), 8px), 12px);
  --size-4-16: min(max(calc(1.2085 * var(--size-unit)), 4px), 16px);
  --size-8-10: min(max(calc(1.0876 * var(--size-unit)), 8px), 10px);
  --size-6-12: min(max(calc(1.0876 * var(--size-unit)), 6px), 12px);
  --size-0-18: min(max(calc(1.0876 * var(--size-unit)), 0px), 18px);
  --size-6-8: min(max(calc(0.8459 * var(--size-unit)), 6px), 8px);
  --size-0-16: min(max(calc(0.9668 * var(--size-unit)), 0px), 16px);
  --size-4-12: min(max(calc(0.9668 * var(--size-unit)), 4px), 12px);
  --size-2-8: min(max(calc(0.6042 * var(--size-unit)), 2px), 8px);
  --size-0-12: min(max(calc(0.7251 * var(--size-unit)), 0px), 12px);
  --size-0-10: min(max(calc(0.6042 * var(--size-unit)), 0px), 10px);
  --size-2-6: min(max(calc(0.48338 * var(--size-unit)), 2px), 6px);
  --size-0-8: min(max(calc(0.48338 * var(--size-unit)), 0px), 8px);
  --size-2-4: min(max(calc(0.36254 * var(--size-unit)), 2px), 4px);
  --size-0-6: min(max(calc(0.36254 * var(--size-unit)), 0px), 6px);
  --size-0-4: min(max(calc(0.24169 * var(--size-unit)), 0px), 4px);
  --size-0-2: min(max(calc(0.12085 * var(--size-unit)), 0px), 2px);
}